Repository Hamburg-Hack-A-Ton/Web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hamburghackaton/dev-web, @hamburghackaton/dev-frontend, @hamburghackaton/dev-backend

Added Workflows and Dependabot (#5)
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/codeql.yml
  .github/workflows/eslint.yml
  .github/workflows/labeler.yml
  package.json
Owners: @hamburghackaton/dev-backend, @hamburghackaton/dev-web

Hide Dev Utillities in Production Hotfix
  .gitignore
  public/faq.json
Owners: @hamburghackaton/dev-web, @hamburghackaton/dev-frontend, @hamburghackaton/dev-backend

Hotfix Hide Dev FAQ Utillities
  .gitignore
  public/faq.json
Owners: @hamburghackaton/dev-web, @hamburghackaton/dev-frontend, @hamburghackaton/dev-backend

Hotfix Hide Dev FAQ Utillities (#10)
  .gitignore
  public/faq.json
Owners: @hamburghackaton/dev-web, @hamburghackaton/dev-frontend, @hamburghackaton/dev-backend

Aktualisiere Versionsnummer auf 3 in der Konfigurationsdatei
  src/app/config.ts
Owners: @hamburghackaton/dev-frontend

Added SECURITY.md file with security policy and vulnerability reporting guidelines
  .github/SECURITY.md
Owners: @hamburghackaton/dev-backend

Added Issue Templates
  .github/ISSUE_TEMPLATE/default.yaml
  .github/workflows/issue-auto.yml
  package.json
  yarn.lock
Owners: @hamburghackaton/dev-backend, @hamburghackaton/dev-web

Added pull request templates for feature and fix submissions
  .github/PULL_REQUEST_TEMPLATE/feature.yml
  .github/PULL_REQUEST_TEMPLATE/fix.yml
  .github/PULL_REQUEST_TEMPLATE/publish.yml
Owners: @hamburghackaton/dev-backend

Added Contributor Covenant Code of Conduct to promote a respectful and inclusive community
  .github/CODE_OF_CONDUCT.md
Owners: @hamburghackaton/dev-backend

Working on this at Home
  .github/CONTRIBUTING.md
Owners: @hamburghackaton/dev-backend

Added VSCode settings for YAML schema and updated README for clarity and formatting
  .vscode/settings.json
  README.md
Owners: @hamburghackaton/dev-web

[PUBLISH] Add Version Configuration Parameter (#13)
  src/app/config.ts
Owners: @hamburghackaton/dev-frontend

[FEATURE] GitHub Repository Templates and Automation (#14)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/default.yaml
  .github/PULL_REQUEST_TEMPLATE/feature.yml
  .github/PULL_REQUEST_TEMPLATE/fix.yml
  .github/PULL_REQUEST_TEMPLATE/publish.yml
  .github/SECURITY.md
  .github/workflows/issue-auto.yml
  .vscode/settings.json
  README.md
  package.json
  yarn.lock
Owners: @hamburghackaton/dev-backend, @hamburghackaton/dev-web

Add Codacy badge
  README.md
Owners: @hamburghackaton/dev-web

Reformated the Code to insure better Quality cc: @codacy
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
Owners: @hamburghackaton/dev-backend

Added more Badges
  .github/CONTRIBUTING.md
  README.md
Owners: @hamburghackaton/dev-backend, @hamburghackaton/dev-web

Update CONTRIBUTING.md and README.md
  .github/CONTRIBUTING.md
  README.md
Owners: @hamburghackaton/dev-backend, @hamburghackaton/dev-web

Moved forms to new Fillout
  .yarn/releases/yarn-4.5.2.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  package.json
  src/app/register/page.tsx
Owners: @hamburghackaton/dev-web, @hamburghackaton/dev-frontend

[PUBLISH] Add Version Configuration Parameter (#13)
  src/app/config.ts
Owners: @hamburghackaton/dev-frontend

[FEATURE] GitHub Repository Templates and Automation (#14)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/default.yaml
  .github/PULL_REQUEST_TEMPLATE/feature.yml
  .github/PULL_REQUEST_TEMPLATE/fix.yml
  .github/PULL_REQUEST_TEMPLATE/publish.yml
  .github/SECURITY.md
  .github/workflows/issue-auto.yml
  .vscode/settings.json
  README.md
  package.json
  yarn.lock
Owners: @hamburghackaton/dev-backend, @hamburghackaton/dev-web

Moved the old Forms to new Fillout Org (#20)
  .yarn/releases/yarn-4.5.2.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  package.json
  src/app/register/page.tsx
Owners: @hamburghackaton/dev-web, @hamburghackaton/dev-frontend

Moved old Forms to Config
  src/app/config.ts
  src/app/register/page.tsx
Owners: @hamburghackaton/dev-frontend

Added Storybook
  .eslintrc.json
  .gitignore
  .storybook/hhat.ts
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.ts
  package.json
  src/app/config.ts
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  tailwind.config.js
  yarn.lock
Owners: @hamburghackaton/dev-web, @hamburghackaton/dev-frontend

Refactor import statements in Page component
  src/stories/Page.tsx
Owners: @hamburghackaton/dev-web

Refactor import statements in Page component, remove unused CSS files, and update Storybook configuration
  .storybook/preview.ts
  .storybook/preview.tsx
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Owners: @hamburghackaton/dev-web

.github/CODEOWNERS:

# This is a CODEOWNERS file.
# The owners will be requested for review when someone opens a pull request.

* @hamburghackaton/dev-web
/src/app @hamburghackaton/dev-frontend
/src/app/api @hamburghackaton/dev-backend
/src/ux @hamburghackaton/dev-frontend
/src/ux/api @hamburghackaton/dev-backend

/public @hamburghackaton/dev-frontend @hamburghackaton/dev-backend
/.github @hamburghackaton/dev-backend
